{% extends "base.html" %}
{% block title %}Reinforcement Learning in Grid world with Mines{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <p style="margin-left: 15px;">Agent Path with Q-learning:</p>
                    {{ table1|safe}}
        </div>
        <div class="col-md-6">
        <p style="margin-left: 15px;">Agent Path with SARSA:</p>
                    {{ table2|safe}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
        <img src={{ url}} alt="Chart" height="420" width="420">
        </div>
        <div class="col-md-6">
        
        <button class="btn btn-primary" onclick="window.location.href='http://localhost:5000/main'">Return</button>
        </div>
        
    </div>
</div>
 <h1>{{header}}</h1>
 <div id="chart" class="chart"></div>
 <p><button class="btn btn-primary" onclick="window.location.href='http://localhost:5000/main'">Return</button></p>

{% endblock %}
