{% extends "base.html" %}
{% block title %}Reinforcement Learning in Grid world with Mines{% endblock %}

{% block content %}
<p style="margin-left: 15px;">Agent Path with {{option}}:</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">

        {% for table in tables %}
                    
                    {{ table|safe }}
                    {{titles[loop.index]}}
        {% endfor %}

        </div>
        <div class="col-md-6">
        
        <button class="btn btn-primary" onclick="window.location.href='http://localhost:5000/main'">Return</button>
        </div>
    </div>
</div>
 

{% endblock %}
