{% extends "base.html" %}
{% block title %}Reinforcement Learning in Grid world with Mines{% endblock %}

{% block content %}
<p style="margin-left: 15px;">Agent Path with {{option}}:</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <p>Agent Starts from - <b>S</b></p>
        <br>
        <br>
        {% for table in tables %}
                    
                    {{ table|safe }}
                    {{titles[loop.index]}}
        {% endfor %}
        <br>
        Agent Reached Goal : <b>{{agent_success}}</b>
        <br>
        </div>
        <div class="col-md-6">
        
        <button class="btn btn-primary" onclick="window.location.href='http://localhost:5000/main'">Return</button>
        <button  class="btn btn-primary" onClick="window.location.reload();">Change Bomb locations</button>
        </div>
    </div>
</div>

{% endblock %}
